
.container-fluid {
  height: 100%;
}

@media (max-width: 1150px) {
  .container-fluid {
    height: ~"calc(100% - 157px)";
  }
}

@media (max-width: 860px) {
  .container-fluid {
    height: ~"calc(100% - 189px)";
  }
}

/*
#notification-container {
  height: 100%;
}

#root {
  height: 100vh;

  .page-container {
    display: flex;
  }

  .page-container .main-content {
    display: flex;
    flex-direction: column;
    /!*align-items: center;*!/
    justify-content: center;
    overflow: auto;
  }
}

.content-wrap {
  flex: 1;
  display: flex;
}

.content-wrap .container {
  flex: 1;
}

.oc-invoices-my-tasks-wide {
  flex: 1;
  min-height: ~"calc(100vh - 70px)";
  height: auto;
  overflow-y: inherit;
}

.oc-invoices-my-tasks-wide-invoice {
  height: auto;
}*/

#root .page-container .main-content {
  height: ~"calc(100vh - 100px)";
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;

  .content-wrap {
    flex: 1;
  }
}


/*.oc-invoices-my-tasks-wide {
  min-height: ~"calc(100vh - 50px)";
}

.oc-invoices-my-tasks-wide-invoice {
  height: auto;
}*/
