<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/invoice/static/img/favicon.ico">
  <link rel="stylesheet" href="/invoice/static/css/ocui-bootstrap-bundle-0.1.2.css">
  <link rel="stylesheet" href="/invoice/static/css/sidebar-layout.css">
  <script type="application/javascript" src="/invoice/static/react/react.js"></script>
  <script type="application/javascript" src="/invoice/static/react/react-dom.js"></script>
  <script type="application/javascript" src="/invoice/static/bundle.js"></script>
  <title>Invoice</title>
</head>

<body class="page-body">
  <div id="root"></div>
  <script>
      window.onload = function(e){
        window.invoice.renderInvoiceApplication(
          document.getElementById("root"), {
            formatPatterns: {
              'en': {
                  'datePattern': 'MM/dd/yyyy',
                  'dateTimePattern': 'MM/dd/yyyy HH:mm:ss',
                  'integerPattern': '#,##0',
                  'numberPattern': '#,##0.00',
                  'numberDecimalSeparator': '.',
                  'numberGroupingSeparator': ',',
                  'numberGroupingSeparatorUse': true
              },
              'de': {
                  'datePattern': "dd.MM.yyyy",
                  'dateTimePattern': 'dd.MM.yyyy HH:mm:ss',
                  'integerPattern': "#,##0",
                  'numberPattern': "#,##0.00",
                  'numberDecimalSeparator': ",",
                  'numberGroupingSeparator': ".",
                  'numberGroupingSeparatorUse': true
              }
            },
            userData: {{{json userData}}}
          }
        );
      };
  </script>
</body>
</html>
