<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/invoice/static/img/favicon.ico">
  <link rel="stylesheet" href="/invoice/static/css/ocui-bootstrap-bundle-0.1.2.css">
  <link rel="stylesheet" href="/invoice/static/css/sidebar-layout.css">
  {{#if useMinifiedReact}}
    <script type="application/javascript" src="/invoice/static/react/react.min.js"></script>
    <script type="application/javascript" src="/invoice/static/react/react-dom.js"></script>
  {{else}}
    <script type="application/javascript" src="/invoice/static/react/react.js"></script>
    <script type="application/javascript" src="/invoice/static/react/react-dom.js"></script>
  {{/if}}
  <script type="application/javascript" src="/invoice/static/bundle.js"></script>
  <title>Invoice</title>
</head>

<body class="page-body">
  <div id="root"></div>
  <script>
      window.onload = function(e){
        window.invoice.renderInvoiceApplication(
          document.getElementById("root"), {
            userData: {{{json userData}}}
          }
        );
      };
  </script>
</body>
</html>
